DATABASE_URL="postgresql://usuario:senha@host:5432/banco?sslmode=require"
AUTH_SECRET="gere-com: openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MERCADOPAGO_ACCESS_TOKEN=""
